# created by virtualenv automatically
.idea
include
Lib
Scripts
share
pyvenv.cfg
FrontImage/Sources/Statics/results
FrontImage/Sources/Statics/uploads
BackImage/Sources/Statics/results
BackImage/Sources/Statics/uploads
*.pem